/*
Font: 		Concise
Style: 		Regular Demo
URL: 		https://youworkforthem.com/font/T18193/concise
Foundry: 	Typeface Design Studio
Foundry: 	https://youworkforthem.com/designer/1740/typeface-design-studio
Copyright:	
Version: 	18
Created:	April 08, 2026
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Concise-RegularDemo';
	src: url('concise-regular-demo.woff2') format('woff2'),
	     url('concise-regular-demo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/*
Font: 		Concise
Style: 		Regular Demo
URL: 		https://youworkforthem.com/font/T18193/concise
Foundry: 	Typeface Design Studio
Foundry: 	https://youworkforthem.com/designer/1740/typeface-design-studio
Copyright:	
Version: 	18
Created:	April 08, 2026
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Concise-RegularDemo';
	src: url('concise-regular-demo.woff2') format('woff2'),
	     url('concise-regular-demo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
